@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Peacefull area to write, read and connect to people</h2>
    <div class="row justify-content-center">
        <p class="col-md-9">It's easy and free to post your thinking on any topic... </p>
    </div>
    <div>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary">Get Start</a>
        <p>If you Already have an account <a asp-area="Identity" asp-page="/Account/Login">Log In</a> </p>
    </div>
</div>